*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-top: 26px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    margin-top: 26px;
    padding-left:26px;
}
[type]{
    background-color: crimson;
}
[href]{
    background-color: aqua;
}
[type="text"]{
    color:chartreuse;
}
.container [tyoe="text"]{
background-color:darkorange;
}
[href^="https://"]{
    background-color: darkmagenta;
}
[href$=".ir"]{
    background-color: darksalmon;
}
