/* @font-face {
    font-family: "Montserrat-Regular";
    src: url(../Heading-Paragraph/fonts/realprojeh/ttf/Montserrat-Regular.ttf)
     format("truetype"),
} */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing:inherit;
    font:inherit;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#FC724D;
}
body{
    width:100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("./RealProjeh/1/1-background.png") no-repeat fixed 100%; 
    background-size:contain;

}

.container{
    max-width:90rem;
    margin-left: 12.1875rem;

}

.header{
    width:100%;
    margin-top: 20px;
    margin-bottom: 8rem;
    display: flex;
    gap:12rem;
    align-items: center;

}
.name{
width: 9.0625rem;     
font-size: 1.5rem;
color: #252B42;
font-weight: 700;

}
.menu{
    text-align: center;
    cursor: pointer;
    margin-left: -7rem;
    margin-right: 7rem;

   
}
.menu li {
    display: inline-block;
    margin:0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #737373;

}
ul{
     list-style-type: none; 
     font-size: 14px; 
    
}
.join{
    width: 15rem;
    display: flex;
    align-items: center;



}
.join a{
    margin-left: 28px;
    text-decoration: none;
    color:var(--primary-color);
    font-size: 14px;
    margin-right: -2rem;
    font-weight: 700;
}
.join button{
    width:137px ;
    height: 52px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding:15px, 25px, 15px, 25px;
    margin-left: 4.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    
}
button img{
    margin-left:6px ;
}

.main{
    display: flex;
    margin-left: 12.1875rem;
}
.welcome{
    width: 40rem;
}
.welcome h4{
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
}
.welcome h2{
    font-size: 3.625rem;
    font-weight: 700;
    color: #252B42;
    margin-bottom: 1.5rem;

}
.welcome p{
    font-size: 20px;
    font-weight: 700;
    color: #737373;
    margin-bottom: 2rem;

}
.join-learn{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 2rem;
    cursor: pointer;

}
.btn-one{
    Width: 120px;
    Height:52px;
    border-radius:5px;
    border: 1px solid var(--primary-color);
    Padding:15px, 40px, 15px, 40px;
    background-color: var(--primary-color);
    color: #FFFFFF;
} 
.btn-two{
    width: 136px;
    height:52px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    backdrop-filter:blur(10px);
    color:var(--primary-color);
}
