:root{
    --primery-color:blue;
    --shadow-light:2px 2px 16px -4px red;
    --shadow-normal: 2px 2px 16px red;
    --min-color:green;
}
html{
    box-sizing:border-box;
}
*,
*::after,  
*::before{
        box-sizing: inherit;
    }
body{
    font-family: tahoma;
    font-size: 28px;
    margin: 0;
}   
.container{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
h1,p{

    text-align: center;
    color:var(--primery-color);
    /* background-color: var(--primery-color); */
}
.box{
    width: 400px;
    height: 300px;
    margin: 40px auto;
    background-color: var(--primery-color);
    box-shadow: var(--shadow-normal);
}