*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::selection{
    color:red;
    background-color: aqua;
}
body{
    font-size: 22px;
}
.container{
    width: 1280;
    margin-right: auto;
    margin-left: auto;

}
